a: the color should be #FFD54F and the text decoration should be set to none
a:hover: The color should be #E0F2F1
body:Set the background color to #B2DFDB, the font family to Arial, and the font size to 14pt
header: The background color should be #004D40, the color should
be #000000; and the text should be aligned to the center.
h1: Set the line height to 75px
ariticle:The background color should be #00796B and the padding should
be set to 5px
span: The color should be #cc0000 and the font weight should be set to bold