body: The background color should be #1d7373; the font family should be Arial ; and the text should be aligned to the center.

section: The width should be 750px and the margin should be set to auto.

div: The width should be 300px; the margin should be set to 30px; the
padding should be set to 5px; the background color should be
#5ccccc; and the border radius should be set to 10px.

header:The width should be 750px; the margin should be set to auto the
 background color should be #006363; the border radius should be set
to 10px; and the color of the text should be #5ccccc.


h1: The line height should be set to 70px

img: Set the border radius to 10px.

td: The text should be aligned to the left.

th: The width should be set to 100px. 